* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(9, 9, 53);
    color: rgba(236, 236, 236, 0.836);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(9, 9, 34);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(167, 167, 187);
    font-size: 1.04rem;
}



main hr {
    border: 0;
    background: #904ce9;
    height: 1px;
    margin: 60px 84px;
}


.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
}    


.firstSection > div {
    width: 30%;
}

.leftSection {
   
   
    font-size: 3rem;
   
}

.rightSecion {
    width: 80%;
}

.purple{
    color: rgb(163, 75, 245);
}


#element {
    color: rgb(160, 58, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
    
}

.secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    height: 54px;
    width: 59px;
    top: -54px;
    left: -28px;
    position:relative;
}





.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}


.vertical-desc {
    position: relative;
    top: 92px;
    color: grey;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #231436;
    
    

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;

}

.footer > div {
    width: 223px;
}

footer .footer-rights{
    text-align: center;
    color: #904ce9;
    padding: 12px 0;
}